.dynamic-content-wrapper {
  /* Main color */
  background-color: brown;

  /* Form */
  padding: var(--spacing-tiny);

  /* Content display */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-tiny);
}