.footer-wrapper {
  /* main color */
  background-color: var(--palette-secondary-500);
  color: var(--palette-secondary-500-text);

  /* form */
  padding: var(--spacing-tiny) var(--spacing-tiny);
  margin-top: auto;
}